<div class="col-lg-6 p-3 isotope-item">
	<div class="history-item">
		<a href="pict/ulfa.jpg" class="text-decoration-none">
			<span class="thumb-info thumb-info-lighten">
				<span class="thumb-info-wrapper m-0">
					<img src="img/demos/wedding/history/history-1.jpg" class="img-fluid" alt="">
					<span class="thumb-info-title text-uppercase font-weight-bold">
						Meeting Wedding Couple
					</span>
					<span class="thumb-info-likes text-color-light">
						<i class="far fa-heart bg-color-primary p-1"></i>
						1800
					</span>
				</span>
			</span>
		</a>
	</div>
</div>
<div class="col-md-6 col-lg-3 p-3 isotope-item">
	<div class="history-item">
		<a href="img/demos/wedding/history/history-2.jpg" class="text-decoration-none">
			<span class="thumb-info thumb-info-lighten">
				<span class="thumb-info-wrapper m-0">
					<img src="img/demos/wedding/history/history-2.jpg" class="img-fluid" alt="">
					<span class="thumb-info-title text-uppercase font-weight-bold">
						Wedding Time
					</span>
					<span class="thumb-info-likes text-color-light">
						<i class="far fa-heart bg-color-primary p-1"></i>
						700
					</span>
				</span>
			</span>
		</a>
	</div>
</div>
<div class="col-md-6 col-lg-3 p-3 isotope-item">
	<div class="history-item">
		<a href="img/demos/wedding/history/history-3.jpg" class="text-decoration-none">
			<span class="thumb-info thumb-info-lighten">
				<span class="thumb-info-wrapper m-0">
					<img src="img/demos/wedding/history/history-3.jpg" class="img-fluid" alt="">
					<span class="thumb-info-title text-uppercase font-weight-bold">
						Wedding Party
					</span>
					<span class="thumb-info-likes text-color-light">
						<i class="far fa-heart bg-color-primary p-1"></i>
						550
					</span>
				</span>
			</span>
		</a>
	</div>
</div>
